<div class="patient-form-container">
    <h2 class="form-title">Registrar Especialidad</h2>
    <form (ngSubmit)="onSubmit()" #patientForm="ngForm" class="form-grid">
      <div class="form-group">
        <span class="p-float-label">
          <input pInputText id="name" name="name" required [(ngModel)]="specialitie.name" />
          <label htmlFor="name">Nombre</label>
        </span>
      </div>
    
      <div class="card flex justify-content-center">
          <span class="p-float-label">
              <textarea id="float-input" rows="5" cols="36" id="description" name="description" required [(ngModel)]="specialitie.description" pInputTextarea></textarea>
              <label for="float-input">Descripcion</label>
          </span>
      </div>
      <div class="form-group full-width">
            <p-button type="submit" class="btn btn-primary" [disabled]="!patientForm.form.valid">
            Actualizar Especialidad
             </p-button>
             <p-button [style]="{'margin-left':'5px'}" label="Cancelar" severity="secondary" routerLink="/specialitie/lista" ></p-button>
      </div>
    </form>
</div>
