<div class="patient-form-container">
    <h2 class="form-title">Registrar Usuario</h2>
    <p-card>
        <form (ngSubmit)="onSubmit()" #patientForm="ngForm" class="form-grid">

            <div class="formgrid grid" style="display: flex; gap: 1rem;">

                <div class="field col" style="margin-top: 10px ;min-width: 320px;">
                    <div class="card flex justify-content-center">
                        <span class="p-float-label">
                            <p-calendar  name="fecha" [showIcon]="true">
                            </p-calendar>
                            <label htmlFor="fecha">Fecha</label>
                        </span>
                    </div>
                </div>
                <div class="field col" style="margin-top: 10px ;min-width: 320px;">
                    <span class="p-float-label">
                        <p-autoComplete  
                             inputId="patient" [minLength]="3" field="fullName"
                            name="patient" [size]="30" placeholder="nombre del paciente">
                        </p-autoComplete>
                        <label htmlFor="paciente">Paciente</label>
                    </span>
                </div>
            </div>


            <div class="formgrid grid" style="display: flex; gap: 1rem; margin-top: 20px;">


                <div class="field col" style="margin-top: 10px ;min-width: 320px;">
                    <span class="p-float-label">
                        <p-dropdown name="selectedSpeciality"
                            optionLabel="name" [showClear]="true" placeholder="Seleccione especialidad"
                            >
                        </p-dropdown>
                        <label htmlFor="especialidad">Especialidad</label>
                    </span>
                </div>

                
                <div class="field col" style="margin-top: 10px ;min-width: 320px;">
                    
                    <p-listbox optionLabel="fullName"
                        [style]="{'width':'15rem'}"  name="Medicos"
                        [listStyle]="{'max-height': '220px'}">
                    </p-listbox>
                    
               
                </div>


                        <!-- Lista de Días y Horas Disponibles del Usuario Seleccionado -->
                <div class="field col" style="margin-top: 10px ;min-width: 320px;">
                    <p-listbox 

                        optionLabel="displayName" 
                        [style]="{'width':'15rem'}" 
                        name="dayhour" 
                        [listStyle]="{'max-height': '220px'}">
                    </p-listbox>
                </div>

            </div>

            <div class="formgrid grid" style="display: flex; gap: 1rem; margin-top: 20px;">

        


            </div>
       
            <div class="form-group full-width">
                <button pButton pRipple type="submit" label="Registrar" icon="pi pi-save"
                    [disabled]="!patientForm.form.valid"></button>
                <p-button [style]="{'margin-left':'5px'}" icon="pi pi-times" label="Cancelar" severity="secondary"
                    routerLink="/appointment/lista"></p-button>
            </div>

        </form>
    </p-card>
</div>