.grid {
    max-height: 100vh; /* Limita la altura al 80% de la ventana */
    overflow: hidden; /* Evita que el contenido desborde */
  }
  
  section {
    padding: 1rem; /* Reduce el relleno */
  }
  
  p {
    margin: 0 0 0.5rem 0; /* Menos espacio entre párrafos */
  }
  
  button {
    margin-bottom: 0.5rem;
  }

  img {
    max-height: 100%; /* Limita la altura */
    width: 130%; /* Asegura que la imagen sea responsiva */
    object-fit: cover; /* Ajusta la imagen al contenedor */
  }y
  .text-6xl {
    font-size: 2rem; /* Ajusta el tamaño del título */
  }
  
  .text-primary {
    font-size: 1.5rem; /* Ajusta el tamaño del subtítulo */
  }
  
  p {
    font-size: 0.9rem; /* Texto más pequeño */
  }
    