/* Asegurar que .dashboard ocupe toda la altura disponible */
.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Esto asegura que .dashboard ocupe toda la altura de la ventana */
}

.content {
    display: flex;
    flex-grow: 1; /* Esto hace que .content ocupe el espacio restante */
    flex-direction: row; /* Si quieres que .content esté en una fila */
    gap: 20px;
  
}
app-header {
    flex: 0 0 200px;
    height: auto; /* El header tiene un tamaño fijo */

}

app-sidebar {
    flex: 0 0 200px;
    padding: 10px;
    height: auto; /* El sidebar tiene un tamaño fijo */
}

.main-content {
    flex: 1; /* Esto asegura que .main-content ocupe el espacio restante */
    padding-left: 10px;
    border-radius: 10px;
    overflow-y: auto; /* Si el contenido excede, habilita desplazamiento */
}

/* Ajuste del formulario para alinear campos horizontalmente */
.patient-form-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los campos se ajusten si es necesario */
    gap: 20px;
    justify-content: space-between; /* Distribuye los campos de manera equitativa */
    margin-top: 10px;
    margin-left: 100px;
}

/* Ajustes para las tarjetas de los campos de entrada */
.patient-form-container .card {
    flex: 1 1 45%; /* Los campos ocuparán el 45% del ancho del contenedor */
    max-width: 100%; /* Asegura que no se expandan más allá del 45% */
    margin-bottom: 25px; /* Separación entre campos */
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .form-column {
    flex: 1;
    min-width: 250px; /* Asegura que las columnas no sean demasiado estrechas */
    max-width: 33%; /* 3 columnas */
    box-sizing: border-box;
   
  }
  
