<div class="card" style="margin-top: 10px; margin-bottom: 10px; width: 100%;">
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
          <button pButton pRipple label="New" routerLink="/appointment/register"icon="pi pi-plus" class="p-button-success mr-2" ></button>
          <button type="button" style="margin: 5px;" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
              class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
            <button type="button" style="margin: 5px;" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
              class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
    
            <!-- <button type="button" style="margin: 5px;" pButton pRipple icon="pi pi-plus" routerLink="/appointment/register"
              class="p-button-primary mr-2" pTooltip="NUEVO" tooltipPosition="bottom"></button>
       -->
        </ng-template>
  
      <ng-template pTemplate="right">
         <button pButton pRipple label="Export" (click)="printPdf()" icon="pi pi-print" class="p-button-help"></button>
      </ng-template>
  </p-toolbar>
      <p-table [style]="{'padding': '20px', 'background-color':'#e9ecef'}" #dt [value]="appointments" dataKey="id"
        [rowHover]="true" 
        [rows]="10" 
        [showCurrentPageReport]="true" 
        [rowsPerPageOptions]="[10, 25, 50]" 
        [loading]="loading"
        [paginator]="true" 
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
        [filterDelay]="0" 
        [scrollable]="true" 
        scrollHeight="400px"
        [globalFilterFields]="['name', 'surname','rol','email','phone','specialitieId']">
    
        <ng-template pTemplate="caption">
          <div class="table-header">
            Lista de Citas Medicas
    
            <div style="margin-left: 70%; ">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="onGlobalFilter($event, dt)" placeholder="Buscar" />
              </span>
    
            </div>
            <!-- <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.printTable()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button> -->
            
    
          </div>
        </ng-template>
    
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="i" style="min-width: 5rem;">N<p-sortIcon field="i"></p-sortIcon></th>
            <th pSortableColumn="name" style="min-width: 5rem;">Fecha <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="surname"style="min-width: 7rem;">Estado <p-sortIcon field="surname"></p-sortIcon></th>
            <th pSortableColumn="rol"style="min-width: 8rem;">Paciente <p-sortIcon field="ci"></p-sortIcon></th>
            <th pSortableColumn="email"style="min-width: 11rem;">especialidad <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="phone"style="min-width: 10rem;">Medico <p-sortIcon field="relationship"></p-sortIcon></th>
            <th pSortableColumn="address"style="min-width: 6em;">Dia <p-sortIcon field="paciente"></p-sortIcon></th>
            <th pSortableColumn="hour"style="min-width: 6rem;">Hora <p-sortIcon field="hour"></p-sortIcon></th>
            <th style="min-width: 9rem;">Acciones</th>
          </tr>
        </ng-template>
    
          <ng-template pTemplate="body" let-appointment let-i="rowIndex">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ appointment.dateAppointment }}</td>
            <td> <p-tag [value]="getStateLabel(appointment.stateAppointment)" [severity]="getSeverity(appointment.stateAppointment)"></p-tag> </td>            
            <td>{{ appointment.Patient.name	 }} {{appointment.Patient.surname}}</td>
            <td>{{ appointment.Specialitie?.name || 'Sin especialidad' }}</td>
            <td>{{ appointment.User.name }} {{appointment.User.surname}}</td>
            <td>{{ appointment.DayHour?.Day.name }}</td>
            <td>{{ appointment.DayHour?.Hour.name }}</td>
          
            <td>
           
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" severity="success" 
              [routerLink]="['/appointment/edit', appointment.id]" />
              <p-button icon="pi pi-trash" (onClick)="deleteUser(appointment.id)" severity="danger" [rounded]="true" [outlined]="true" [disabled]="!isAdmin()"
                />
    
              </td>
          </tr>
        </ng-template>
    
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">No se encontraron pacientes.</td>
          </tr>
        </ng-template>
      </p-table>
    

    </div>
  
  
   
  
    <div class="formgrid grid" style="display: flex; gap: 1rem;">
  
       
  
        <div class="field col" style="margin-top: 10px ;">
         
      </div>
  
    </div>
  