/* Estilos para el contenedor principal */
.main-container {
    display: flex;
    height: calc(100vh - 60px); /* Ajustar la altura según el tamaño de tu header y footer */
  }
  
  /* Estilos para la barra lateral */
  app-sidebar {
    width: 250px; /* Ancho de la barra lateral */
     /* Color de fondo de la barra lateral */
    color: white; /* Color del texto en la barra lateral */
    padding: 10px; /* Espaciado interno de la barra lateral */
    overflow-y: auto; /* Permite desplazarse verticalmente si el contenido es largo */
  }
  
  /* Estilos para el contenido */
  .content {
    flex: 1; /* Ocupa el resto del espacio disponible */
    padding: 20px; /* Espaciado interno del contenido */
    overflow-y: auto; /* Permite desplazarse verticalmente si el contenido es largo */
  }
  