
<div class="login-container">
    <div class="card">
        <p-card header="LOG IN" subheader="" [style]="{ 'width': '400px', 'margin':'0px auto' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/images/imgH.webp" />
            </ng-template>
            <div >
                <span class="p-float-label">
                    <input type="email" pInputText id="username" [(ngModel)]="email_login" class="form-input" />
                    <label htmlFor="username">Username</label>
                </span>
            </div>
            <div class="input-password" >
                <span class="p-float-label">
                    <input pInputText type="password" id="password" [(ngModel)]="password_login" class="form-input" />
                    <label htmlFor="password">Password</label>
                </span>
            </div>
            <ng-template pTemplate="footer">
                <div class="flex justify-content-center">
                    <p-button (click)="login()" label="Log in" [text]="true" [raised]="true" icon="pi pi-sign-in" />
                </div>
            </ng-template>
        </p-card>
    </div>
</div>
